<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/reset-password.css" />
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito&family=Montserrat&display=swap" rel="stylesheet" />

    <script src="/js/reset-password.js" defer></script>

    <title>idu-market</title>
  </head>
  <body>
    <div class="banner-title">
      <h1><span>I</span>UAM</h1>
      <p>by. Woowahan Agile</p>
    </div>
    <form id="form-field" class="form-field">
      <h1 class="form-title">New Password</h1>
      <input id="id" class="id" type="text" placeholder="ID" />
      <input id="new-psword" class="new-psword" type="password" placeholder="Password" />
      <input id="new-psword-confirm" class="new-psword-confirm" type="password" placeholder="Password Confirm" />
      <button class="form-btn">Change Password</button>
    </form>
  </body>
</html>
