body {
  height: 800px;
  background: #eee5de;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner-title {
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
  background-color: #fdfdfd;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-title h1 {
  margin: 0;
  position: relative;
  font-size: 3.5rem;
  text-align: center;
  font-weight: 500;
  font-family: 'Fredoka One', cursive;
}
.banner-title h1 span {
  font-family: 'Fredoka One', cursive;
  color: #cfac8c;
}
.banner-title p {
  font-size: 0.8rem;
  font-family: 'Fredoka One', cursive;
  margin: 0;
}

.form-field {
  width: 280px;
  background-color: #fdfdfd;
  border-radius: 10px;
  padding: 30px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.form-title {
  font-family: 'Fredoka One', cursive;
  text-align: center;
  font-size: 2rem;
  color: #222;
}

.id {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  outline: none;
  border: none;
  font-size: 16px;
  border-bottom: 2px solid #adadad;
  margin: 20px 0;
  transition: border-bottom .5s ease;
}
.id:focus,
.new-psword:focus,
.new-psword-confirm:focus {
  border-bottom: 2px solid #d3a887;
}

.new-psword {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  outline: none;
  border: none;
  font-size: 16px;
  border-bottom: 2px solid #adadad;
  margin: 20px 0;
}

.new-psword-confirm {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  outline: none;
  border: none;
  font-size: 16px;
  border-bottom: 2px solid #adadad;
  margin: 20px 0;
}

.form-btn {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 50px;
  border: 1px solid;
  border-radius: 25px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  margin: 20px 0;
  background: #d3a887;
  color: #fdfdfd;
}

.form-btn:hover {
  background: #cc9A73
}
input::placeholder {
  color: #adadad;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}